.mainimg{
    position: relative;
    z-index: 1;
}



@keyframes slideUp{
    from{
        top: 100%;
    }
    to{
        top: 0;
    }
}

.mainimg:hover .edit-hover{
    visibility: visible;
    opacity: 1;
    
}



.edit-hover{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    transition: visibility 0s, opacity 0.5s ease;
    visibility: hidden;
}