.listing{
    border-radius: .5rem;
    border: 1px solid var(--border);
}

.listing:hover{
    cursor: pointer;
}

.listing-image{
    border-radius: .5rem;
    object-fit: cover;
    height: 100%;
}