.navigation{
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--border);
    background-color: white;
    z-index: 2;
}

.nav-section{
    width: 33%;
}

.bx-search-alt-2{
    line-height: 1.5;
}